<ol class="breadcrumb">
  <li><a href="#"><%= __('menu.home') %></a></li>
  <li class="active"><%= __('menu.dashboard') %></li>
</ol>

<div class="jumbotron">
        <h1>eAttandance Access System</h1>
        <p>This is demo eAttandance System for BPP</p>
        <p>System Spec: (What you should know)
          <ol>
            <li>Sails JS (Everything is javascript)</li>
            <li>MariaDB 10 (Any RDBMS or NoSQL can do...)</li>
            <li>Raspbery Pie (Attendance Capture Service with FP Module). Special thanks to Mr. Adam</li>
            <li>Raspbian Linux (@AhmadFarhan expertise)</li>
            <li>Dockerhub - Github WebHook (@AhmadFarhan expertise)</li>
          </ol>
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="/personal_attendance" role="button">View Attendance Report »</a>
        </p>
      </div>
